body {
    width: 100%;
    background-color: whitesmoke;
}
.nav-head {
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: rgba(245, 245, 245, 0.562);
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center!important;
    padding-top: 1%;

}

.nav-left {
    display: flex;
    margin-left: 2.5%;
    gap: 6%;
    list-style: none;
    color: black;
    font-family: 'Public Sans', sans-serif;
    font-size: 80%;
}

.hamburger {
    display: none;
}

.nav-middle {
    margin-right: 8%;
}

.head-logo {
    width: 40%;
}

.nav-right {
    margin-right: 2.5%;
    cursor: progress;
}

a {
    color: black;
    text-decoration: none;
}

.main-footer {
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.footer-top{
    display: flex;
    gap: 10%;
    padding-top: 1rem;
    margin-left: 3%;
}

.foot-list-vert {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    gap: 1rem;
}

.foot-list-1 {
    display: flex;
    flex-direction: column;
    
}
.footer-link1 {
    color: whitesmoke;
}

.footer-link2 {
    color: rgb(156, 156, 156);
}
.footer-list-social {
    display: flex;
    gap: 24%;
}

.footer-link1{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    
}

.social-icon {
    color: rgb(156, 156, 156);
}

.footer-bottom {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left {
    margin-left: 3%;
    display: flex;
    gap: 2%;
    flex-grow: 1;
}
.fbl-left1 {
    color: whitesmoke;
    display: flex;
    gap: 8px;
    font-size: .8rem;

}
.fblp {
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
}
.copyright {
    color: rgb(156, 156, 156);
    font-family: 'Public Sans', sans-serif;
    font-size: .8rem;
}
.footer-bottom-right {
    margin-right: 2.5%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Public Sans', sans-serif;
    font-size: .8rem;
}

.fbr-list {
    display: flex;
    color: rgb(156, 156, 156);
}
.fbr-bottom {
    color: rgb(156, 156, 156);
    display: flex;
    justify-content: end;
}

.index-main {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: scroll;
}

.hero1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.242), rgba(0, 0, 0, 0.834)), url(/images/zaygrayhood2.webp);
    background-size: cover;
    width: 90%;
    height: 90vh;
    margin-left: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 7%;
}

.hero1-h2 {
    margin-top: 5%;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Alumni Sans Inline One', cursive;
    color: whitesmoke;
    margin-left: 3%;
}

.hero1-p1 {
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
    margin-left: 3%;
}
.shop-btn1 {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.841);
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 3%;
    font-family: 'Public Sans', sans-serif;

}

.shop-btn1:hover {
    background-color: gray;
}

.home-section2 {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;

}
.section2-h2 {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1%;
    text-align: center;
}

.twosection2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 80vh;
    gap: 1%;
    
}

.section2-left {
    max-width: 100%;
    height: auto;
    background-image: url(/images/s2leftuse.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.section2-right {
    max-width: 100%;
    height: auto;
    background-image:url(/images/s2rightuse.webp);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(2, 20, 43, 0.675);
    display: flex;
    flex-direction: column;
    align-items: end;

}

.s2-h3-left {
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.75rem;
    text-align: start;
    margin-left: 3%;
    margin-top: 2%;
}

.s2-leftbtn {
    margin-top: 2%;
}

.s2-h3-right {
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.75rem;
    text-align: end;
    margin-right: 3%;
    margin-top: 2%;

}

.s2-rightbtn {
    margin-top: 2%;
    margin-right: 2%;
    
}

.home-section3 {
    margin-top: 3%;
    margin-right: 5%;
    width: 100%;
}

.section2-h3 {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1%;
    text-align: center;
}

.wrapper {
   max-width: 100%; 
   display: flex;
   align-items: center;
}

.wrapper i{
    font-size: 3.5vw;
    color: rgba(255, 255, 255, 0.81);
    background-color: rgba(0, 0, 0, 0.71);
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.wrapper i:first {
    left: 0;
    
}

.wrapper i:last-child {
    right: 0;
}

.wrapper, .section3-carousel {
    white-space: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
}

/* .section3-carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}
.section3-carousel.dragging img {
    pointer-events: none;
} */

.section3-carousel img{
    width: calc(100% / 3);
    height: auto;
    object-fit: cover;
    cursor: pointer;
    margin-left: 4px;
}

.section3-carousel img:first-child {
    margin-left: 0%;
}

.home-section4 {
    height: 50vh;
    width: 100%;
    overflow-x: hidden;
}

.hgbanner{
    background-image: url(/images/hgbanner.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    height: 100%;
}

@media(max-width: 821px) {
    body {
        overflow-x: hidden;
    }
    .nav-left{
        display: none;
    }
    .hamburger{
        list-style: none;
        display: block;
        margin-left: 2.5%;
        cursor: pointer;
    }
    .nav-middle {
        margin-right: 0px;
    }
    .middle-link a{
        display: flex;
        justify-content: center;
    }
    .foot-list-vert {
        display: flex;
        flex-direction: column;
        font-size: 80%;
    }
    .index-main {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .hero1{
        height: calc(100vh/ 3);
        margin-top: 10%;
    }

    .twosection2 {
        height: calc(100vh / 3.5);
    }
    .home-section4 {
        height: calc(100vh / 6);
    }
}

@media(max-width: 391px) {
    .foot-list-vert {
        display: flex;
        flex-direction: column;
        font-size: .75rem;
    }
    .footer-list-social {
        display: flex;
        gap: 4%;
    }
    .social-icon {
        font-size: 1rem;
    }
    .footer-top{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;
        margin-left: 3%;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
    }
    .footer-bottom-left {
        flex-direction: column;
        gap: 1rem;
    }
    .fbl-left2 {
        flex-direction: column;
    }
    .fbr-list {
        flex-direction: column;
        margin-left: 2.5%;
        gap: 1rem;
    }
    .fbr-bottom {
        justify-content: start;
        margin-left: 2.5%;
    }
    .hero1 {
        margin-top: 4.5rem;
    }
    
}

/* Shop Page Begins */

.hero2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.242), rgba(0, 0, 0, 0.834)), url(/images/hero2.webp);
    background-size: cover;
    width: 90%;
    height: 90vh;
    margin-left: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 7%
}

.hero2-h2 {
    margin-top: 5%;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Alumni Sans Inline One', cursive;
    color: whitesmoke;
    margin-left: 3%;
}

.hero2-p1 {
    font-size: 1.5rem;
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
    margin-left: 3%;
}
.shop-btn1 {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.841);
    width: 5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: 3%;
    font-family: 'Public Sans', sans-serif;

}

.shop-btn1:hover {
    background-color: gray;
}

.shop-section{
    width: 100vw;
    height: 90vh;
    z-index: 1;
    
}
.shop-grid{
    margin-top: 7%;
    margin-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
}

.shop-tile {
    display: flex;
    flex-direction: column;
    width: 19.5rem;
    height: 28rem;
}

.shop-tile img {
    height: auto;
    width: 100%;
}
.shop-h2 {
    font-family: 'Public Sans', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 1rem;

}
.shop-description {
    font-family: 'Public Sans', sans-serif;
    font-size: .7rem;
    margin-top: .5rem;
}